{{ $paginator := .Paginate .Pages }}
{{ range $i, $page := $paginator.Pages }}
  {{ if gt $i 0 }}<hr>{{ end }}
  <article>
    <h2><a href="{{ $page.RelPermalink }}">{{ $page.Title }}</a></h2>
    <!-- By default .Summary include all content, so strip pre (code) and table
    (table) tags from content, escape it and plainify to remove style (e.g., h1) -->
    <p>{{ $page.Summary | replaceRE `(?s)<(pre|table)[^>]*>.*?</(pre|table)>` "" | safeHTML | plainify}}</p>
  </article>
{{ end }}
{{ if gt $paginator.TotalPages 1 }}
<nav aria-label="Page navigation">
  {{ with $paginator.Prev }}<a href="{{ .URL }}">newer posts</a>{{ end }}
  {{ if and $paginator.HasPrev $paginator.HasNext }} &middot; {{ end }}
  {{ with $paginator.Next }}<a href="{{ .URL }}">older posts</a>{{ end }}
</nav>
{{ end }}
