{{ $paginator := .Paginate .Pages }}
{{ $currentYear := 0 }}
{{ range $page := $paginator.Pages }}
  {{ $year := $page.Date.Year }}
  {{ if ne $year $currentYear }}
    {{ if ne $currentYear 0 }}</ul>{{ end }}
    <h2>{{ $year }}</h2>
    <ul>
    {{ $currentYear = $year }}
  {{ end }}
  <li><a href="{{ $page.RelPermalink }}">{{ $page.Title }}</a></li>
{{ end }}
{{ if ne $currentYear 0 }}</ul>{{ end }}
{{ if gt $paginator.TotalPages 1 }}
<nav aria-label="Page navigation">
  {{ with $paginator.Prev }}<a href="{{ .URL }}" aria-label="Newer posts, page {{ $paginator.Prev.PageNumber }}">newer posts</a>{{ end }}
  {{ if and $paginator.HasPrev $paginator.HasNext }} - {{ end }}
  {{ with $paginator.Next }}<a href="{{ .URL }}" aria-label="Older posts, page {{ $paginator.Next.PageNumber }}">older posts</a>{{ end }}
</nav>
{{ end }}
