{{ define "main" }}
{{ partial "breadcrumb.html" . }}
<article itemscope itemtype="https://schema.org/BlogPosting">
  <h1 itemprop="headline">{{ .Title }}</h1>
  <dl>
    <dt>Date</dt>
    <dd><time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format (.Site.Params.dateFormat | default "2006-01-02") }}</time></dd>
    {{ with .GetTerms "tags" }}
    <dt>Tags</dt>
    <dd>{{ range . }}<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a> {{ end }}</dd>
    {{ end }}
    {{ with .Site.Params.author }}
    <dt>Author</dt>
    <dd itemprop="author" itemscope itemtype="https://schema.org/Person"><span itemprop="name">{{ . }}</span></dd>
    {{ end }}
  </dl>
  <hr>
  {{ partial "toc.html" . }}
  {{ .Content }}
</article>
<hr>
{{ partial "prev-next.html" (dict "prev" .PrevInSection "next" .NextInSection "label" "Post navigation") }}
{{ end }}
