{{ define "main" }}
<article itemscope itemtype="https://schema.org/BlogPosting">
  <h1 itemprop="headline">{{ .Title }}</h1>
  <p><time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format .Site.Params.dateFormat }}</time></p>
  <meta itemprop="dateModified" content="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">
  {{ if .GetTerms "tags" }}<p>{{ range .GetTerms "tags" }}<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a> {{ end }}</p>{{ end }}
  {{ with .Site.Params.author }}<address itemprop="author" itemscope itemtype="https://schema.org/Person"><a rel="author" itemprop="name">{{ . }}</a></address>{{ end }}
  <hr>
  {{ .Content }}
</article>
<hr>
<nav aria-label="Post navigation">
  {{ with .PrevInSection }}<a href="{{ .RelPermalink }}">prev &mdash; {{ .Title }}</a>{{ end }}
  {{ if and .PrevInSection .NextInSection }} &middot; {{ end }}
  {{ with .NextInSection }}<a href="{{ .RelPermalink }}">next &mdash; {{ .Title }}</a>{{ end }}
</nav>
{{ end }}
