{{ define "main" }}
{{ with .Site.Params.description }}<p>{{ . }}</p>{{ end }}
{{ $count := .Site.Params.homepagePostCount | default 5 }}
{{ $posts := where .Site.RegularPages "Section" "blog" }}
<section aria-label="Recent posts">
  {{ range first $count $posts }}
    <div>
      <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
      <p>
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format $.Site.Params.dateFormat }}</time>
      </p>
      <p>{{ .Summary }}</p>
    </div>
  {{ end }}
</section>
{{ end }}
